!__resource/.gitkeeper
*-lock.json
*.ai
*.AppleDouble
*.DS_Store
*.eslintcache
*.idea
*.lock
*.lock-wscript
*.log
*.LSOverride
*.map
*.njsproj
*.node_repl_history
*.npm
*.ntvs*
*.nuxt
*.psd
*.sln
*.stTheme.cache
*.sublime-workspace
*.suo
*.tgz
*.tmlanguage.cache
*.tmp/
*.tmPreferences.cache
# *.vscode
*.yarn-integrity

secret.ps1

*.PSD
ayu-exports
tmp
test
out
VERSION
*.vsix

__resource/*
development/tmp
dist/
jspm_packages
logs
node_modules/
npm-debug.log*
selenium-debug.log
sftp-config.json
test/e2e/reports
test/unit/coverage
yarn-debug.log*
yarn-error.log*

tmp/
temp/

# PROJECT
wizard.png
textChannel*
temp-*
upload/*
.cache