.vscode/**
.vscode-test/**
.github/
.gitignore
.vscodeignore

node_modules/**
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock

src/**
scripts/**
schemas/**
playground/**
oxlint.config.ts
tsconfig.json
styleguide.md
workspace.code-workspace

**/*.map
**/*.vsix
**/*.ps1

ayu-exports/
tmp/
temp/
test/
.cache/
