@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans.eot");
  src: url("../fonts/OpenSans/OpenSans.eot") format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSans.woff2") format("woff2"),
    url("../fonts/OpenSans/OpenSans.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans.ttf") format("truetype"),
    url("../fonts/OpenSans/OpenSans.svg#OpenSans") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSans/OpenSansLight.eot");
  src: url("../fonts/OpenSans/OpenSansLight.eot") format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSansLight.woff2") format("woff2"),
    url("../fonts/OpenSans/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSans/OpenSansLight.ttf") format("truetype"),
    url("../fonts/OpenSans/OpenSansLight.svg#OpenSansLight") format("svg");
  font-weight: 300;
  font-style: normal;
}

.vh {
  visibility: hidden !important;
}

.hn {
  height: 0 !important;
}

.wn {
  width: 0 !important;
}

html {
  background-position: center center;
  background-repeat: repeat;
}

body {
  background: transparent;
  min-width: 360px;
  overflow-x: visible !important;
  overflow-y: scroll !important;
}

@media screen and (min-width: 433px) {
  body {
    min-width: 433px;
  }
}

@media screen and (min-width: 482px) {
  body {
    min-width: 482px;
  }
}

.navbar.navbar-shadow {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
}

.navbar .navbar-branding {
  display: block !important;
  max-width: 320px !important;
  width: 320px !important;
}

.navbar .navbar-brand {
  display: block !important;
  padding-left: 24px;
}

@media screen and (min-width: 680px) {
  .navbar .navbar-brand {
    padding-left: 50px;
  }
}

.navbar .company-logo {
  margin-top: 14px;
  max-height: 32px;
  vertical-align: top;
}

#main,
#main::before {
  background: transparent;
}

#main {
  left: 50%;
  margin-left: -180px;
  margin-right: auto;
  width: 360px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
}

@media screen and (min-width: 433px) {
  #main {
    width: 433px;
    margin-left: -216px;
  }
}

@media screen and (min-width: 482px) {
  #main {
    width: 482px;
    margin-left: -241px;
  }
}

@media screen and (min-width: 964px) {
  #main.pos-l {
    left: 25%;
  }

  #main.pos-r {
    left: 75%;
  }
}

#content_wrapper {
  left: 0 !important;
  margin: 0 !important;
  padding: 77px 24px 167px;
}

#content {
  padding: 0;
}

.page-title {
  color: #464646;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 680px) {
  .page-title {
    font-size: 24px;
  }
}

.page-title .app-name {
  font-weight: 500;
}

h4.sub-title {
  color: #3498db;
  margin: 0 0 20px;
  padding: 0 20px;
  text-align: center;
}

.lock-ib {
  background-position: center center;
  background-repeat: no-repeat;
  height: 94px;
  margin: -25px auto 10px;
  width: 50px;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  border: 2px solid #e7e7e7;
  border-radius: 47px;
  height: 94px;
  width: 94px;
}

.profile-name {
  color: #464646;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0 2px;
  text-align: center;
  overflow: hidden;
}

.form-vertical .control-label {
  padding-left: 13px;
}

.form-vertical .form-input {
  margin-bottom: 15px;
}

.reauth-login {
  font-size: 14px;
  margin-bottom: 7px;
  text-align: center;
}

.bc-form-passwordMethod .bc-form-btn {
  margin-top: 25px;
  margin-bottom: 30px;
}

.bc-form-regFm .bc-form-btn,
.bc-form-cfmFm .bc-form-btn,
.bc-form-recFm .bc-form-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bc-reg-url {
  margin-top: 32px;
  text-align: center;
}

.bc-form-recFm .bc-recovery-by {
  padding-top: 5px;
  text-align: center;
}

.bc-reg-head {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bc-recovery-head {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#smsFm #send {
  margin-bottom: 40px !important;
}

.preloader {
  background: url("../img/preloader.gif") center top no-repeat;
  padding-top: 70px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  height: 130px;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
}

footer .author-logo {
  margin: 22px 0 10px;
}

footer .author-copy {
  font-size: 12px;
}

.footer-alt {
  position: absolute;
  bottom: 130px;
  padding: 30px 0 35px;
  width: 100%;
}

.footer-alt .content {
  padding: 0 24px;
}

.methods-wrapper {
  text-align: center;
}

.methods-wrapper .methods-sep {
  position: relative;
  margin-bottom: 30px;
}

.methods-wrapper .methods-sep:before {
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid #dedede;
  content: "";
  display: block;
  width: 100%;
}

.methods-wrapper .methods-sep span {
  position: relative;
  background: #fcfcfc;
  display: inline-block;
  height: 19px;
  line-height: 19px;
  padding: 0 12px;
}

.methods-wrapper .methods-title {
  color: #555;
  margin: 40px 0 25px;
}

.methods-wrapper .btn-meth {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  color: #666;
  cursor: pointer;
  display: block;
  font-size: 13px;
  height: 44px;
  line-height: 44px;
  margin: 0 auto 10px;
  white-space: nowrap;
  width: 280px;
}

.methods-wrapper .btn-meth:hover,
.methods-wrapper .btn-meth:focus,
.methods-wrapper .btn-meth:active {
  color: #666;
  text-decoration: none;
}

.methods-wrapper .btn-toggle.list-closed .list-opened-txt {
  display: none;
}

.methods-wrapper .btn-toggle.list-opened .list-closed-txt {
  display: none;
}

.methods-wrapper .btn-meth.meth-ext {
  background-color: #fefefe;
  border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.methods-wrapper .btn-meth.meth-ext:hover,
.methods-wrapper .btn-meth.meth-ext:focus,
.methods-wrapper .btn-meth.meth-ext:active {
  background: #fafafa;
}

.methods-wrapper .meth-ext.has-icon {
  display: inline-block;
  margin-left: 4px;
  margin-right: 5px;
  width: 44px;
}

.methods-wrapper .meth-ext .meth-icon {
  background-repeat: no-repeat;
  display: inline-block;
  height: 42px;
  width: 42px;
}

.methods-wrapper .meth-ext.meth-alfa .meth-icon {
  background-image: url("../img/meth-alfa-icon.png");
  background-position: center;
  background-size: 80%;
}

.methods-wrapper .meth-ext.meth-google .meth-icon {
  background-image: url("../img/meth-google-icon.png");
  background-position: 10px 10px;
  background-size: 22px 22px;
}

.methods-wrapper .meth-ext.meth-apple .meth-icon {
  background-image: url("../img/meth-apple-icon.png");
  background-position: center;
  background-size: 50px;
}

.methods-wrapper .meth-ext.meth-facebook .meth-icon {
  background-image: url("../img/meth-facebook-icon.png");
  background-position: 9px 9px;
  background-size: 24px 24px;
}

.methods-wrapper .meth-ext.meth-tcs .meth-icon {
  background-image: url("../img/meth-tcs-icon.png");
  background-position: 9px 9px;
  background-size: 24px 24px;
}

.methods-wrapper .meth-ext.meth-vtb .meth-icon {
  background-image: url("../img/meth-vtb-icon.png");
  background-position: 9px 9px;
  background-size: 24px 24px;
}

.methods-wrapper .meth-ext.meth-vk .meth-icon {
  background-image: url("../img/meth-vk-icon.png");
  background-position: 8px 8px;
  background-size: 26px 26px;
}

.methods-wrapper .meth-ext.meth-saml-blitz .meth-icon {
  background-image: url("../img/meth-blitz-icon.png");
  background-position: 8px 8px;
  background-size: 26px 26px;
}

.methods-wrapper .meth-ext.meth-yandex .meth-icon {
  background-image: url("../img/meth-yandex-icon.png");
  background-position: 11px 11px;
  background-size: 20px 20px;
}

.methods-wrapper .meth-ext.meth-mail .meth-icon {
  background-image: url("../img/meth-mail-icon.png");
  background-position: 11px 11px;
  background-size: 20px 20px;
}

.methods-wrapper .meth-ext.meth-ok .meth-icon {
  background-image: url("../img/meth-ok-icon.png");
  background-position: 10px 10px;
  background-size: 22px 22px;
}

.methods-wrapper .meth-ext.meth-sudis .meth-icon {
  background-image: url("../img/meth-sudis-icon.png");
  background-position: 10px 10px;
  background-size: 22px 22px;
}

.methods-wrapper .meth-ext.has-icon .meth-txt {
  display: none;
}

.methods-wrapper .meth-ext.icons-count-2 {
  width: 134px;
}

.methods-wrapper .meth-ext.icons-count-2 .meth-txt .meth-name {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  padding-right: 9px;
  vertical-align: top;
}

.methods-wrapper .meth-ext.icons-count-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.methods-wrapper .meth-ext.icons-count-1 .meth-txt {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  padding-right: 9px;
  vertical-align: top;
}

.methods-wrapper .meth-ext.icons-count-1 .meth-txt span {
  display: inline;
}

.methods-wrapper .meth-ext.has-logo img {
  max-height: 24px;
  max-width: 200px;
  vertical-align: -5px;
}

.methods-wrapper .has-logo.meth-esia img {
  height: 18px;
}

.methods-wrapper .has-logo.meth-esiadp img {
  height: 18px;
}

.methods-wrapper .has-logo.meth-blitz img {
  height: 24px;
}

.methods-wrapper .has-logo.meth-vkid img {
  height: 24px;
}

.methods-wrapper .methods-int .btn-toggle {
  background: #f0f0f0;
  border-color: #d8d8d8 #d3d3d3 #ccc;
}

.methods-wrapper .methods-int .btn-toggle:hover,
.methods-wrapper .methods-int .btn-toggle:focus,
.methods-wrapper .methods-int .btn-toggle:active {
  background: #eaeaea;
}

.methods-wrapper .methods-int .btn-meth.meth-int {
  background-color: #f0f0f0;
  background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    color-stop(10%, rgba(255, 255, 255, 0.9)),
    to(rgba(255, 255, 255, 0.3))
  );
  background-image: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.3) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
}

.methods-wrapper .methods-int .meth-int:hover,
.methods-wrapper .methods-int .meth-int:focus,
.methods-wrapper .methods-int .meth-int:active {
  background-color: #eaeaea;
}

.methods-wrapper .methods-other .btn-goto.auth-all-meth .auth-last-txt,
.methods-wrapper .methods-other .btn-goto.auth-last-meth .auth-all-txt {
  display: none;
}

.methods-wrapper .methods-other .btn-goto {
  position: relative;
  background: #f0f0f0;
  border-color: #d8d8d8 #d3d3d3 #ccc;
  font-size: 15px;
  line-height: 42px;
}

.methods-wrapper .methods-other .btn-goto:hover,
.methods-wrapper .methods-other .btn-goto:focus,
.methods-wrapper .methods-other .btn-goto:active {
  background: #eaeaea;
}

.methods-wrapper .methods-other .btn-goto span.fa {
  position: absolute;
  top: 0;
  display: block;
  font-size: 20px;
  height: 42px;
  line-height: 46px;
  width: 42px;
}

.methods-wrapper .methods-other .btn-goto span.fa:hover,
.methods-wrapper .methods-other .btn-goto span.fa:focus,
.methods-wrapper .methods-other .btn-goto span.fa:active {
  color: #3498db;
}

.methods-wrapper .methods-other .btn-goto span.fa-long-arrow-left {
  left: 7px;
}

.methods-wrapper .methods-other .btn-goto span.fa-long-arrow-right {
  right: 7px;
}

.methods-wrapper .methods-cfm {
  padding-top: 40px;
}

.methods-wrapper .methods-cfm .btn-meth {
  width: 100%;
}

.methods-wrapper .methods-cfm .btn-toggle {
  background: #f0f0f0;
  border-color: #d8d8d8 #d3d3d3 #ccc;
}

.methods-wrapper .methods-cfm .btn-toggle:hover,
.methods-wrapper .methods-cfm .btn-toggle:focus,
.methods-wrapper .methods-cfm .btn-toggle:active {
  background: #eaeaea;
}

.methods-wrapper .methods-cfm .btn-meth.meth-cfm {
  background-color: #f0f0f0;
  background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    color-stop(10%, rgba(255, 255, 255, 0.9)),
    to(rgba(255, 255, 255, 0.3))
  );
  background-image: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.3) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
}

.methods-wrapper .methods-cfm .meth-cfm:hover,
.methods-wrapper .methods-cfm .meth-cfm:focus,
.methods-wrapper .methods-cfm .meth-cfm:active {
  background-color: #eaeaea;
}

#iframes,
#iframes iframe {
  visibility: hidden !important;
  height: 0 !important;
  width: 0 !important;
}

body.ltie9 {
  min-width: 433px !important;
}

body.ltie9 #main {
  left: auto !important;
  right: auto !important;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0 auto !important;
  width: 433px !important;
}

body.ltie9 .navbar.navbar-shadow {
  border-bottom: 1px solid #dcdcdc;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body.ltie9 .navbar .navbar-brand {
  padding-left: 24px !important;
}

body.ltie9 .page-title {
  font-size: 20px !important;
}

body.ltie9 footer {
  border-top: 1px solid #dcdcdc;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popover.pwd-strength-info .popover-content {
  padding: 15px 14px 10px;
  width: 248px;
}

.popover.pwd-strength-info .popover-content ul {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}

.popover.pwd-strength-info .popover-content .pwd-req {
  text-align: left;
}

.popover.pwd-strength-info .popover-content .pwd-req.good {
  color: #70ca63;
}

.popover.pwd-strength-info .popover-content .pwd-req .fa {
  margin-right: 7px;
}

.popover.pwd-strength-info .popover-content .pwd-scale-wrap {
  background: #ddd;
  height: 5px;
  margin-bottom: 10px;
}

.popover.pwd-strength-info .popover-content .pwd-scale {
  background: grey;
  height: 5px;
}

.popover.pwd-strength-info .popover-content .pwd-scale.error {
  background: #df5640;
  width: 30%;
}

.popover.pwd-strength-info .popover-content .pwd-scale.warn {
  background: #f6bb42;
  width: 60%;
}

.popover.pwd-strength-info .popover-content .pwd-scale.good {
  background: #70ca63;
  width: 100%;
}

.popover.pwd-strength-info .popover-content .pwd-help.error {
  color: #df5640;
}

.popover.pwd-strength-info .popover-content .pwd-help.warn {
  color: #f6bb42;
}

.popover.pwd-strength-info .popover-content .pwd-help.good {
  color: #70ca63;
}

.popover.pwd-strength-info .popover-content p {
  margin: 0 0 10px 0;
}

.img-flag {
  width: 24px;
  height: 24px;
}

.lang-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.language-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 90px;
  margin-top: 10px;
}

.language-selector {
  width: 176px;
  height: 40px;
}

#lang-selector {
  width: 100%;
}

.select2-results__options {
  list-style: none;
}

.select2-selection__rendered {
  background: transparent;
  font-size: 14px;
  color: #3b3b3b;
}

.select2-container--default .select2-selection--single {
  background-color: transparent !important;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  width: 400px;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  border: solid #3498db 0.5px;
}

.modal-window header {
  font-weight: bold;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 30px;
  font-size: 200%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 35px;
  text-decoration: none;
}

.modal-close:hover {
  color: black;
}

.incognito-container {
  text-align: center;
  margin-top: 20px;
}

.incognito-container > a {
  color: black;
  text-decoration: underline dotted #3498db;
}

.incognito-container > a:hover {
  color: #3498db;
  text-decoration: none;
}

.modal-window > div {
  border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.incognito-btn {
  background-color: transparent;
  border-radius: 1rem;
  text-decoration: none;
}

.incognito-btn i {
  padding-right: 0.3em;
}

@media (max-height: 895px) {
  .modal-window > div {
    top: 50%;
  }
}

@media (max-height: 490px) {
  .modal-window > div {
    top: 60%;
  }
}

.consent__description {
  font-weight: 600;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 25px;
}

.consent__description-accent {
  display: inline-block;
  margin-right: 4px;
}

.consentForm__footer {
  margin-top: 35px;
}

.logout-consent__question {
  font-weight: 600;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 25px;
}

.logout-success__text {
  font-size: 14px;
}

.pipeWebAuthn__title {
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.pipeWebAuthn__icon {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pipeWebAuthn__icon--space {
  margin: 5rem 5rem;
}

.icon-message--success {
  width: auto;
  height: 24px;
  color: #16ca63;
  font-size: 4em;
}

.pipeWebAuthn__description {
  display: block;
  font-family: sans-serif;
  font-size: 16px;
}

.pipeWebAuthn__state--hidden {
  display: none;
}

.pipeChoice__title {
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

.pipeChoice__choice_btn {
  background-color: #f0f0f0;
  background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    color-stop(10%, rgba(255, 255, 255, 0.9)),
    to(rgba(255, 255, 255, 0.3))
  );
  background-image: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.3) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
  display: block;
  margin: 0 auto 10px;
  width: 100%;
}

.pipeChoice__skip_btn {
  color: white;
  background-color: #3498db;
  display: block;
  margin: 0 auto 10px;
  width: 100%;
}

.pipeActAttr__title {
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

.pipeActAttr__confirm_btn {
  background-color: #f0f0f0;
  background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    color-stop(10%, rgba(255, 255, 255, 0.9)),
    to(rgba(255, 255, 255, 0.3))
  );
  background-image: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.3) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
  display: block;
  margin: 0 auto 10px;
  width: 100%;
}

.pipeActAttr__deny_btn {
  color: white;
  background-color: #3498db;
  display: block;
  margin: 0 auto 10px;
  width: 100%;
}

.pipeActAttr__title {
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.pipeActAttr__info {
  display: block;
  font-family: sans-serif;
  font-size: 16px;
}

[class*="fa-eye"] {
  cursor: pointer;
}

.form-toggle__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-checkbox__text {
  margin: unset;
}

.form-checkbox__input[type="checkbox"] {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: unset;
  margin-right: 1rem;
}